.payment{
    width: 100%;
    padding: 150px 0px;
    position: relative;
    &--back{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    &--body{
        display: flex;
        background: #FFFFFF08;
        border-radius: 5px;
        border: 1px solid #FFFFFF08;
        padding: 64px 32px 48px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
        position: relative;
        max-width: 780px;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: linear-gradient(360deg, rgba(12, 12, 18, 0.6) 0%, rgba(12, 12, 18, 0.006) 100%);
        }
        &-form{
            display: flex;
            flex-direction: column;
            gap: 32px;
            .form--inputs{
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
                max-width: 714px;
                .input--item:nth-child(-n+2){
                    width: 353px;
                }
            }
            .form--summa{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                &-wrap{
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    .summa--wrap-count{
                        display: flex;
                        align-items: center;
                        gap: 24px;
                        .base-count{
                            display: flex;
                            align-items: center;
                            gap: 6px;
                            span{
                                color: var(--white);
                                font-family: "Orbitron", sans-serif;
                                font-size: 18px;
                            }
                            img{
                                width: 26px;
                                height: 26px;
                            }
                        }
                        p{
                            color: var(--white);
                            font-size: 18px;
                            font-family: "Orbitron", sans-serif;
                        }
                    }
                    .bonus{
                        padding: 9px 16px;
                        display: flex;
                        font-size: 12px;
                        line-height: 100%;
                    }
                }
                &-price{
                    padding: 18px;
                    background: transparent;
                    border: 0.5px solid #8A8A9A;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    gap: 3px;
                    p{
                        text-transform: none;
                        color: var(--so-white);
                    }
                    img{
                        width: 16px;
                        height: 16px;
                    }
                }
            }
            .form--checkbox{
                display: flex;
                flex-direction: column;
                gap: 16px;
            }
            .puy--button{
                display: flex;
                justify-content: center;
                box-shadow: 0px 0px 30px 0px #C9022DCC;
            }
        }
    }
}