.faq{
    width: 100%;
    padding: 0 0 150px 0px;
    &--body{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 82px;
        &-frame{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 32px;
            .faq--item{
                padding: 42px;
                position: relative;
                background: #FFFFFF08;
                border: 1px solid #FFFFFF08;
                border-radius: 5px;
                display: flex;
                flex-direction: column;
                gap: 18px;
                overflow: hidden;
                .gradient{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    background: linear-gradient(360deg, rgba(7, 7, 10, 0.24) 0%, rgba(7, 7, 10, 0.006) 100%);
                }
                img{
                    width: 391px;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 0;
                }
                h3{
                    color: var(--white);
                    font-size: 24px;
                    text-transform: none;
                }
                p{
                    color: var(--so-white);
                    text-transform: none;
                }
            }
        }
    }
}