.hero--block{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 100px 0px;

    &-background{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        object-fit: cover;
    }
    .container{
        height: 100%;
    }
    &-body{
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        position: relative;
        z-index: 1;
        .hero--online {
            padding: 18px 32px;
            display: flex;
            align-items: center;
            gap: 8px;
            background: #C9022D26;
            border-radius: 3px;
            border: 0.5px solid #C9022D;
            .indicator{
                width: 10px;
                aspect-ratio: 1/1;
                background: #C9022D;
                border-radius: 50%;
                box-shadow: 0px 0px 10px 0px #C9022D;
            }
            p{
                color: var(--so-white);
            }
            span{
                color: var(--white);
            }
        }
        .hero--attr{
            display: flex;
            align-items: center;
            gap: 64px;
            .item{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 8px;
                h3{
                    color: var(--white);
                }
                p{
                    color: var(--so-white);
                }
            }
        }
    }
}