.learn{
    width: 100%;
    padding: 150px 0px;
    position: relative;
    &--back{
        width: 100%;
        height: 1302px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        object-fit: cover;
    }
    &--body{
        display: flex;
        flex-direction: column;
        gap: 82px;
        align-items: center;
        &-wrap{
            display: flex;
            align-items: center;
            gap: 32px;
            .wrap--image{
                width: 1016px;
                height: 498px;
                object-fit: cover;
            }
            .wrap--information{
                display: flex;
                flex-direction: column;
                gap: 48px;
                .item{
                    display: flex;
                    flex-direction: column;
                    gap: 18px;
                    h3{
                        color: var(--white);
                        font-size: 24px;
                        text-transform: none;
                    }
                    p{
                        color: var(--so-white);
                        text-transform: none;
                    }
                    a{
                        max-width: max-content;
                    }
                }
            }
        }
    }
}