.possible{
    width: 100%;
    position: relative;
    padding-top: 83px;
    &--background{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 926px;
    }
    &--body{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 82px;
        &-wrap{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 32px;
            .possible--wrap-items{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 32px;
                .possible-item{
                    width: 100%;
                    background: #FFFFFF08;
                    border: 1px solid #FFFFFF08;
                    border-radius: 5px;
                    padding: 42px;
                    display: flex;
                    flex-direction: column;
                    gap: 32px;
                    position: relative;
                    .item-gradient{
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 0;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(360deg, rgba(7, 7, 10, 0.24) 0%, rgba(7, 7, 10, 0.006) 100%);
                    }
                    .item-vector{
                        width: 305px;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: -1;
                    }
                    .item-icon{
                        width: 53px;
                        height: 53px;
                        border-radius: 1px;
                        background: var(--actient);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 0.5px solid #C9022D;
                        position: relative;
                        z-index: 1;
                        svg{
                            width: 24px;
                            height: 24px;
                        }
                    }
                    .item-information{
                        display: flex;
                        flex-direction: column;
                        gap: 18px;
                        position: relative;
                        z-index: 1;
                        h3{
                            font-family: var(--medium);
                            text-transform: none;
                            font-size: 24px;
                            color: var(--white);
                        }
                        p{
                            color: var(--so-white);
                            text-transform: none;
                        }
                    }
                }
            }
            .possible--wrap-video{
                width: 100%;
                background: #0A0A0F66;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                }
                .video-helper{
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                    align-items: center;
                    .play{
                        width: 72px;
                        height: 72px;
                        background: var(--actient);
                        border: 0.5px solid #C9022D;
                        box-shadow: 0px 0px 30px 0px #C9022D80;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        svg{
                            width: 17px;
                            height: 20px;
                        }
                    }
                    p{
                        font-size: 18px;
                        color: var(--so-white);
                    }
                }
            }
        }
    }
}