.guide{
    width: 100%;
    padding: 169px 0 283px 0px;
    position: relative;
    &--back-st{
        position: absolute;
        top: 530px;
        left: 0;
        width: 100%;
        z-index: -1;
        height: 834px;
    }
    &--back-ed{
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        z-index: -1;
        height: 1030px;
    }
    &--body{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 82px;
        &-frame{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 32px;
            .guide--item{
                padding: 42px;
                background: #FFFFFF08;
                border-radius: 5px;
                border: 1px solid #FFFFFF08;
                display: flex;
                flex-direction: column;
                gap: 32px;
                position: relative;
                &-vector{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    z-index: 0;
                    width: 355px;
                    height: 168px;
                }
                &-user{
                    max-width: max-content;
                    box-shadow: none;
                    padding: 12px 16px;
                    font-size: 10px;
                }
                &-text{
                    display: flex;
                    flex-direction: column;
                    gap: 18px;
                    z-index: 1;
                    h3{
                        color: var(--white);
                        font-size: 24px;
                        text-transform: none;
                    }
                    p{
                        color: var(--so-white);
                        font-size: 14px;
                        text-transform: none;
                    }
                }
                &-soft{
                    position: absolute;
                    top: 50px;
                    right: 48px;
                    display: flex;
                    gap: 24px;
                    text-transform: none;
                    color: var(--so-white);
                }
            }
        }
    }
}