.steps {
    padding: 80px;
    position: relative;
    width: 100%;

    &--back {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    &--body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 82px;

        &-frame {
            display: flex;
            justify-content: center;
            width: 100%;
            gap: 32px;

            .frame--start {
                display: flex;
                flex-direction: column;
                gap: 239px;
                margin-top: 185px;
                align-items: flex-end;
                width: 50%;
                .item {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    text-align: end;

                    h3 {
                        color: #C9022D;
                        font-size: 24px;
                    }

                    span {
                        font-size: 18px;
                        color: var(--white);
                        text-transform: none;
                    }

                    p {
                        font-size: 14px;
                        color: var(--so-white);
                        text-transform: none;
                    }
                }
            }
            .frame--steps{
                position: relative;
                height: 100%;
                svg{
                    width: 2px;
                    height: 100%;
                }
                &-circles{
                    position: absolute;
                    top: 0px;
                    left: -8px;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 110px;
                    .item{
                        width: 20px;
                        aspect-ratio: 1/1;
                        background: #C9022D;
                        border: 4px solid #0B0B12;
                        box-shadow: 0px 0px 20px 0px #C9022D66;
                        border-radius: 50%;
                    }
                }
            }
            .frame--end {
                display: flex;
                flex-direction: column;
                gap: 235px;
                align-items: flex-start;
                width: 50%;
                .item {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    text-align: start;

                    h3 {
                        color: #C9022D;
                        font-size: 24px;
                    }

                    span {
                        font-size: 18px;
                        color: var(--white);
                        text-transform: none;
                    }

                    p {
                        font-size: 14px;
                        color: var(--so-white);
                        text-transform: none;
                    }
                }
            }
        }
    }
}