.values {
    width: 100%;
    position: relative;
    padding: 70px 0px;

    &--back {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 1036px;
    }

    &--body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 82px;

        &-frame {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 32px;

            .possible-item {
                width: 100%;
                background: #FFFFFF08;
                border: 1px solid #FFFFFF08;
                border-radius: 5px;
                padding: 42px;
                display: flex;
                flex-direction: column;
                gap: 32px;
                position: relative;

                .item-gradient {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(360deg, rgba(7, 7, 10, 0.24) 0%, rgba(7, 7, 10, 0.006) 100%);
                }

                .item-vector {
                    width: 305px;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: -1;
                }

                .item-icon {
                    width: 53px;
                    height: 53px;
                    border-radius: 1px;
                    background: var(--actient);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 0.5px solid #C9022D;
                    position: relative;
                    z-index: 1;

                    svg {
                        width: 24px;
                        height: 24px;
                    }
                }

                .item-information {
                    display: flex;
                    flex-direction: column;
                    gap: 18px;
                    position: relative;
                    z-index: 1;

                    h3 {
                        font-family: var(--medium);
                        text-transform: none;
                        font-size: 24px;
                        color: var(--white);
                    }

                    p {
                        color: var(--so-white);
                        text-transform: none;
                    }
                }
            }
        }
    }
}
.part{
    width: 100%;
    padding: 80px 0px;
    position: relative;
    &--body{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 64px;
        &-head {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            h2{
                color: var(--white);
            }
            p{
                color: var(--so-white);
                font-size: 16px;
                text-transform: none;
                text-align: center;
            }
        }
        &-action{
            display: flex;
            gap: 32px;
        }
    }
}