:root{
    --actient: linear-gradient(180deg, #C9022D 0%, #630116 100%);
    --white: #FFFFFF;
    --grey: #5A5A6A;
    --so-white: #8A8A9A;
    --grey-grad: linear-gradient(180deg, rgba(255, 255, 255, 0.03) 0%, rgba(153, 153, 153, 0.03) 100%);
    --light-black: #101017;
    --medium-black: #0C0C12;
    --black: #08080A;
}