.actient--button {
    padding: 18px 32px;
    border-radius: 3px;
    border: 0.5px solid;
    background: var(--actient);
    border-color: #C9022D;
    color: var(--white);
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 30px 0px #C9022D80;
    display: flex;

    span {
        position: relative;
        z-index: 2;
    }

    &::before,
    &::after {
        content: '';
        width: 41px;
        height: 97px;
        background: #C9022D8C;
        filter: blur(25px);
        rotate: 28deg;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }

    &::before {
        left: 17px;
    }

    &::after {
        right: 0;
    }
}

.head--title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;

    &-soft {
        letter-spacing: 3px;
        font-family: var(--bold);
        background: linear-gradient(90deg, #630116 0%, #C9022D 98.08%);
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    &-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;

        h2 {
            color: var(--white);
        }

        p {
            max-width: 495px;
            color: var(--so-white);
            text-align: center;
            text-transform: none;
            font-size: 16px;
        }
    }
}


/*Default Link*/


.default-link {
    padding: 16px 20px;
    position: relative;
    background: #8A8A9A08;
    border: 0.5px solid #8A8A9A33;
    border-radius: 3px;
    color: var(--so-white);
    font-size: 12px;
    display: flex;
    max-width: max-content;
    transition: all 0.3s ease;
    overflow: hidden;

    span {
        z-index: 2;
    }

    &::before {
        background: var(--actient);
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.3s ease;
    }

    &::after {
        content: '';
        width: 66px;
        height: 158px;
        top: -61.35px;
        right: -60.67px;
        rotate: 28deg;
        position: absolute;
        background: #C9022D;
        filter: blur(25px);
        z-index: 1;
        opacity: 0;
        transition: all 0.3s ease;
    }

    &.current {
        border-color: #C9022D;

        &::before,
        &::after {
            opacity: 1;
        }

        span {
            color: var(--white);
        }
    }

    &:hover {
        border-color: #C9022D;

        &::before,
        &::after {
            opacity: 1;
        }

        span {
            color: var(--white);
        }
    }
}



.search {
    display: flex;
    gap: 16px;
    align-items: center;

    input {
        width: 280px;
        height: 40px;
        background: #0E0E1126;
        color: var(--white);
        border: 0.5px solid #FFFFFF0F;
        border-radius: 3px;
        padding-left: 32px;
        font-size: 12px;

        &::placeholder {
            color: var(--so-white);
        }
    }

    button {
        padding: 0 32px;
        height: 40px;
        background: var(--actient);
        border-radius: 3px;
        border: 0.5px solid #C9022D;
        color: var(--white);
        font-size: 12px;
        box-shadow: 0px 0px 30px 0px #C9022D80;
    }
}

/*Shop*/


.shop--item {
    display: flex;
    flex-direction: column;
    background: #FFFFFF08;
    border: 1px solid #FFFFFF08;
    border-radius: 5px;
    height: 100%;
    position: relative;
    transition: all 0.3s ease;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: 0;
        transition: all 0.3s ease;
    }

    &-head {
        width: 100%;
        height: 80%;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;

        .item--sale {
            position: absolute;
            top: 32px;
            right: 32px;
            max-width: max-content;
            left: auto;
            background: var(--actient);
            color: var(--white);
            border: 0.5px solid #C9022D;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        span {
            position: absolute;
            top: 32px;
            left: 32px;
            border: 0.5px solid;
            border-radius: 3px;
            padding: 12px 16px;
            font-size: 10px;
            display: flex;
            overflow: hidden;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: -60px;
                top: -70px;
                width: 62px;
                height: 149px;
                rotate: 28deg;
                filter: blur(25px);
                z-index: -1;
            }
        }

        span.common {
            background: #8A8A9A26;
            border-color: #8A8A9A;
            color: var(--so-white);

            &::before {
                background: #8A8A9A4D;
            }
        }

        span.uncommon {
            background: #10B98126;
            border-color: #10B981;
            color: #10B981;

            &::before {
                background: #10B9814D;
            }
        }

        span.rare {
            background: #3C4BF426;
            border-color: #3C4BF4;
            color: #3C4BF4;

            &::before {
                background: #3C4BF44D;
            }
        }

        span.epic {
            background: #8B5CF633;
            border-color: #8B5CF6;
            color: #8B5CF6;

            &::before {
                background: #8B5CF64D;
            }
        }

        span.legendary {
            background: #F9731633;
            border-color: #F97316;
            color: #F97316;

            &::before {
                background: #F973164D;
            }
        }

        span.unique {
            background: #C9022D26;
            border-color: #C9022D;
            color: #C9022D;

            &::before {
                background: #C9022D4D;
            }
        }
    }

    &-information {
        padding: 42px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;
        z-index: 1;

        h3 {
            color: var(--white);
            max-width: 200px;
            font-size: 24px;
            text-transform: none;
        }

        .item--type {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 12px;

            span {
                color: var(--white);
                font-size: 18px;
                text-transform: none;
            }

            p {
                text-transform: none;
                color: var(--so-white);
                font-size: 14px;
                text-align: right;
            }
        }

        .item--price {
            display: flex;
            align-items: center;
            gap: 7px;

            span {
                font-size: 18px;
                color: var(--white);
                font-family: "Orbitron", sans-serif;
            }

            img {
                width: 24px;
                height: 24px;
            }
        }
    }
}

/*Shop Item Rarity*/

.shop--item:has(.common) {
    &::before {
        display: none;
    }
}

.shop--item:has(.uncommon) {
    &:hover {
        border-color: #10B98133;
        box-shadow: 0px 0px 150px 0px #10B9811A;
        background: transparent;

        &::before {
            opacity: 1;
        }
    }

    &::before {
        background: radial-gradient(50% 50% at 50% 50%, rgba(16, 185, 129, 0.3) 0%, rgba(7, 83, 58, 0.3) 100%);
    }
}

.shop--item:has(.rare) {
    &:hover {
        border-color: #3C4BF44D;
        box-shadow: 0px 0px 150px 0px #3C4BF41A;
        background: transparent;

        &::before {
            opacity: 1;
        }
    }

    &::before {
        background: linear-gradient(180deg, rgba(60, 75, 244, 0.3) 0%, rgba(35, 44, 142, 0.09) 100%);

    }
}

.shop--item:has(.epic) {
    &:hover {
        border-color: #8B5CF64D;
        box-shadow: 0px 0px 150px 0px #8B5CF61A;
        background: transparent;

        &::before {
            opacity: 1;
        }
    }

    &::before {
        background: radial-gradient(50% 50% at 50% 50%, rgba(139, 92, 246, 0.3) 0%, rgba(81, 54, 144, 0.3) 100%);
    }
}

.shop--item:has(.legendary) {
    &:hover {
        border-color: #F973164D;
        box-shadow: 0px 0px 150px 0px #F973161A;
        background: transparent;

        &::before {
            opacity: 1;
        }
    }

    &::before {
        background: radial-gradient(50% 50% at 50% 50%, rgba(249, 115, 22, 0.3) 0%, rgba(147, 68, 13, 0.3) 100%);
    }
}

.shop--item:has(.unique) {
    &:hover {
        border-color: #C9022D4D;
        box-shadow: 0px 0px 150px 0px #C9022D1A;
        background: transparent;
        &::before {
            opacity: 1;
        }
    }

    &::before {
        background: radial-gradient(50% 50% at 50% 50%, rgba(201, 2, 45, 0.3) 0%, rgba(99, 1, 22, 0.3) 100%);
    }
}