/*Global*/
@import './reset.scss';
@import './colors.scss';
@import './textconstuctor.scss';
@import './common.scss';

*::selection{
    background: #C9022D;
}
.container{
    width: 100%;
    max-width: 1720px;
    margin: 0 auto;
}

body{
    width: 100%;
    background: linear-gradient(180deg, #08080A 0%, #101017 100%);
    font-family: var(--regular);
}



::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #C9022D; /* Цвет ползунка */
  border-radius: 10px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Цвет при наведении */
}
/*Partials*/
@import './header.scss';
@import './footer.scss';

/*Home*/
@import './home/hero.scss';
@import './home/possible.scss';
@import './home/learn.scss';
@import './home/news.scss';
@import './home/faq.scss';


/*About*/
@import './about/history.scss';
@import './about/steps.scss';
@import './about/values.scss';

/*News*/

@import './news/article.scss';

/*Guide*/

@import './guide/guide.scss';


/*Wiki*/
@import './wiki/wiki.scss';

/*Shop*/

@import './shop/shop.scss';
@import './shop/today.scss';
@import './shop/product.scss';


/*Payment*/
@import './pay/payment.scss';

/*Auth*/
@import './auth/auth.scss';

/*Forum*/
@import './forum/forum.scss';
/*Pass*/
@import './pass/battlepass.scss';
/*Account*/
@import './user/account.scss';
/*
#root{
    background: linear-gradient(180deg, #08080A 0%, #101017 100%);
}
    */