.header{
    width: 100%;
    padding: 32px 0px;
    background: #07070A03;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    backdrop-filter: blur(10px);
    &__body{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .header--logo{
            width: 141px;
            height: 38px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .header--menu{
            display: flex;
            align-items: flex-start;
            gap: 45px;
            a.current, a:hover{
                color: var(--white);
            }
            a{
                color: var(--so-white);
                text-transform: uppercase;
                transition: all 0.3s ease;
                display: flex;
                gap: 6px;
                align-items: center;
                font-family: var(--medium);
                svg{
                    width: 10px;
                    height: 6px;
                }
            }
        }
        .header--action{
            display: flex;
            align-items: center;
            gap: 29px;
            .switch--language{
                position: relative;
                &-main{
                    display: flex;
                    gap: 6px;
                    align-items: center;
                    color: var(--white);
                    text-transform: uppercase;
                    svg{
                        width: 10px;
                        height: 6px;
                    }
                }
            }
            &-buttons{
                display: flex;
                gap: 12px;
            }
        }
    }
}