@font-face {
    font-family: 'Bold';
    src: url(../assets/fonts/Cygre/Cygre-Bold.woff);
    font-weight: 700;
}

@font-face {
    font-family: 'Regular';
    src: url(../assets/fonts/Cygre/Cygre-Regular.woff);
    font-weight: 400;
}

@font-face {
    font-family: 'Medium';
    src: url(../assets/fonts/Cygre/Cygre-Medium.woff);
    font-weight: 500;
}

@font-face {
    font-family: 'SemiBold';
    src: url(../assets/fonts/Cygre/Cygre-SemiBold.woff);
    font-weight: 800;
}

@font-face {
    font-family: 'Light';
    src: url(../assets/fonts/Cygre/Cygre-Light.woff);
    font-weight: 300;
}

@font-face {
    font-family: 'ExtraBold';
    src: url(../assets/fonts/Cygre/Cygre-ExtraBold.woff);
    font-weight: 800;
}

:root {
    --regular: 'Regular';
    --medium: 'Medium';
    --bold: 'Bold';
    --semibold: 'SemiBold';
    --light: 'Light';
    --extra: 'ExtraBold';
}

/*Text Classes*/

.base-text {
    font-family: var(--regular);
    line-height: 120%;
    font-size: 14px;
    text-transform: uppercase;
}

.medium-text {
    font-size: 16px;
    line-height: 120%;
    font-family: var(--medium);
    text-transform: uppercase;
}
.semi-text {
    font-size: 32px;
    line-height: 120%;
    font-family: var(--semibold);
    text-transform: uppercase;
    font-weight: 600;
}
.bold-text {
    font-size: 28px;
    line-height: 120%;
    font-family: "Orbitron", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.extra-text {
    font-family: var(--extra);
    font-weight: 800;
    font-size: 48px;
    line-height: 100%;
    text-transform: uppercase;
}

.title-text {
    font-size: 48px;
    line-height: 100%;
    font-family: var(--extra);
    text-transform: uppercase;
    font-weight: 800;
}