.shop {
    width: 100%;
    padding: 169px 0px 150px 0px;
    position: relative;

    &--body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 82px;

        &-frame {
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: 72px;

            .shop--frame-head {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                .categories {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                }
            }

            .shop--frame-items {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 32px;
            }

            .shop--frame-pagination {
                width: 100%;
                justify-content: space-between;
                display: flex;
                align-items: center;

                .pagination-info {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    span {
                        color: var(--white);
                        font-size: 18px;
                        text-transform: none;
                    }

                    p {
                        color: var(--so-white);
                        text-transform: none;
                    }
                }

                .pagination-frame {
                    display: flex;
                    gap: 12px;

                    button,
                    span {
                        padding: 18px 32px;
                        background: #FFFFFF08;
                        border: 0.5px solid #FFFFFF33;
                        color: var(--so-white);
                        border-radius: 3px;
                    }

                    span {
                        color: var(--white);
                    }
                }
            }
        }
    }
}