.today {
    width: 100%;
    padding: 169px 0 150px 0px;
    position: relative;

    &--body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 82px;
        width: 100%;

        &-frame {
            display: flex;
            flex-direction: column;
            gap: 150px;
            width: 100%;

            .splide {
                width: 100%;

                .splide__arrow {
                    background: #FFFFFF08;
                    border: 1px solid #FFFFFF08;
                    opacity: 1 !important;
                    transition: all 0.3s ease;
                    overflow: hidden;
                    width: 34px;
                    height: 34px;

                    &--next {
                        right: -1.5em;
                    }

                    &--prev {
                        left: -1.5em;
                    }

                    &:hover {
                        border-color: #C9022D;
                        box-shadow: 0px 0px 10px 0px #C9022D33;

                        &::before {
                            opacity: 1;
                        }
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 0;
                        width: 100%;
                        height: 100%;
                        background: var(--actient);
                        opacity: 0;
                    }

                    svg {
                        position: relative;
                        z-index: 1;
                        fill: var(--white);
                        width: 10px;
                        height: 15px;
                    }
                }
            }

            .today--frame-recomendation {
                display: flex;
                flex-direction: column;
                gap: 48px;

                h2 {
                    color: var(--white);
                    font-size: 32px;
                }

                .frame-recomendation-grid {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: repeat(3, 1fr);
                    gap: 32px;

                    .shop--item:nth-child(3) {
                        grid-column: 3 / span 2;
                        grid-row: 1;
                    }

                    .shop--item:nth-child(4) {
                        grid-column: 1 / span 2;
                        grid-row: 2 / span 2;
                        max-height: max-content;

                        h3 {
                            max-width: 500px;
                        }
                    }

                    .shop--item:nth-child(5) {
                        grid-column: 3 / span 2;
                        grid-row: 2 / span 2;
                        max-height: max-content;

                        h3 {
                            max-width: 500px;
                        }
                    }
                }
            }

            .today--frame-clothes {
                display: flex;
                flex-direction: column;
                gap: 48px;

                h2 {
                    font-size: 32px;
                    color: var(--white);
                }

                .frame--clothes-grid {
                    display: grid;
                    grid-template-columns: repeat(12, 1fr);
                    grid-template-rows: repeat(3, 1fr);
                    gap: 32px;



                    .grid--clothes-banner {
                        grid-column: 1 / span 12;
                        grid-row: 2;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        padding: 64px;
                        position: relative;
                        border-radius: 5px;
                        background: #FFFFFF08;
                        border: 1px solid #FFFFFF08;
                        overflow: hidden;
                        flex-direction: column;
                        gap: 12px;

                        &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: linear-gradient(360deg, rgba(13, 13, 19, 0.6) 100%, rgba(12, 12, 18, 0.006) 152.21%);
                            z-index: -1;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 5px;
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: -2;
                        }

                        p {
                            font-size: 16px;
                            color: var(--so-white);
                            text-transform: none;
                        }

                        span {
                            font-size: 32px;
                            font-family: var(--bold);
                            background: linear-gradient(90deg, #630116 0%, #C9022D 98.08%);
                            color: transparent;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            background-clip: text;
                            letter-spacing: 3px;
                        }
                    }

                    .shop--item:nth-child(1) {
                        grid-row: 1;
                        grid-column: 1 / span 3;
                    }

                    .shop--item:nth-child(2) {
                        grid-row: 1;
                        grid-column: 4 / span 3;
                    }

                    .shop--item:nth-child(3) {
                        grid-row: 1;
                        grid-column: 7 / span 3;
                    }

                    .shop--item:nth-child(4) {
                        grid-row: 1;
                        grid-column: 10 / span 3;
                    }

                    .shop--item:nth-child(n + 5) {
                        h3 {
                            max-width: 300px;
                        }
                    }

                    .shop--item:nth-child(6) {
                        grid-column: 1 / span 4;
                        grid-row: 3;
                    }

                    .shop--item:nth-child(7) {
                        grid-column: 5 / span 4;
                        grid-row: 3;
                    }

                    .shop--item:nth-child(8) {
                        grid-column: 9 / span 4;
                        grid-row: 3;
                    }
                }
            }

            .today--frame-cars {
                display: flex;
                flex-direction: column;
                gap: 48px;

                h2 {
                    color: var(--white);
                    font-size: 32px;
                }

                .frame--cars-grid {
                    display: grid;
                    grid-template-columns: repeat(12, 1fr);
                    grid-template-rows: repeat(3, 1fr);
                    gap: 32px;

                    .shop--item:nth-child(1) {
                        grid-column: 1 / span 4;
                        grid-row: 1;
                    }

                    .shop--item:nth-child(2) {
                        grid-column: 5 / span 4;
                        grid-row: 1;
                    }

                    .shop--item:nth-child(3) {
                        grid-column: 9 / span 4;
                        grid-row: 1;
                    }

                    .shop--item:nth-child(4) {
                        grid-column: 1 / span 6;
                        grid-row: 2 / span 2;
                    }

                    .shop--item:nth-child(5) {
                        grid-column: 7 / span 3;
                        grid-row: 2;
                    }

                    .shop--item:nth-child(6) {
                        grid-column: 10 / span 3;
                        grid-row: 2;
                    }

                    .shop--item:nth-child(7) {
                        grid-column: 7 / span 3;
                        grid-row: 3;
                    }

                    .shop--item:nth-child(8) {
                        grid-column: 10 / span 3;
                        grid-row: 3;
                    }
                }
            }
        }
    }
}