.forum {
    width: 100%;
    padding: 169px 0 150px 0;
    position: relative;
    &--top-back{
        width: 100%;
        height: 1390px;
        top: 509px;
        left: 0;
        z-index: -1;
        position: absolute;
    }
    &--bot-back{
        width: 100%;
        height: 1062px;
        left: 0;
        bottom: 0;
        z-index: -1;
        position: absolute;
    }
    &--body {
        display: flex;
        flex-direction: column;
        gap: 82px;

        .head--title-wrap p {
            max-width: none;
        }

        &-frame {
            display: flex;
            flex-direction: column;
            gap: 82px;

            .forum--frame-head {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                .frame--head-all {
                    display: flex;
                    align-items: center;
                    gap: 24px;

                    .item {
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        .icon {
                            width: 40px;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: var(--actient);
                            border-radius: 1px;
                            border: 0.5px solid #C9022D;

                            svg {
                                width: 24px;
                                height: 24px;
                            }
                        }

                        .item--wrap {
                            display: flex;
                            flex-direction: column;
                            gap: 4px;

                            span {
                                color: var(--white);
                                font-size: 18px;
                            }

                            p {
                                color: var(--so-white);
                            }
                        }
                    }
                }
            }

            .forum--frame-block {
                display: flex;
                gap: 32px;
                position: relative;

                .frame--block-navigate {
                    display: flex;
                    flex-direction: column;
                    gap: 32px;
                    width: 75%;

                    .block--navigate-item {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        background: linear-gradient(360deg, rgba(7, 7, 10, 0.24) 0%, rgba(7, 7, 10, 0.006) 100%);

                        .block--navigate-head {
                            width: 100%;
                            padding: 32px;
                            background: var(--actient);
                            border: 0.5px solid #C9022D;
                            border-top-left-radius: 3px;
                            border-top-right-radius: 3px;
                            display: flex;
                            flex-direction: column;
                            gap: 18px;

                            h3 {
                                color: var(--white);
                                font-size: 24px;
                            }

                            p {
                                color: #FFFFFF80;
                                text-transform: none;
                                font-size: 14px;
                            }
                        }

                        .block-navigate-items {
                            display: flex;
                            flex-direction: column;
                            width: 100%;

                            .theme--item:last-child {
                                border-bottom: none;
                            }

                            .theme--item {
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                border-bottom: 1px solid #FFFFFF0F;
                                padding: 24px;
                                position: relative;

                                &-vector {
                                    height: 100%;
                                    width: 176px;
                                    position: absolute;
                                    right: 0;
                                    bottom: 0;
                                    z-index: -1;
                                    object-fit: cover;
                                }

                                .theme--item-info {
                                    display: flex;
                                    align-items: center;
                                    gap: 18px;

                                    .icon {
                                        width: 44px;
                                        height: 44px;
                                        border-radius: 1px;
                                        border: 1px solid #C9022D;
                                        background: var(--actient);
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;

                                        svg {
                                            width: 24px;
                                            height: 24px;
                                        }
                                    }

                                    .info--text {
                                        display: flex;
                                        flex-direction: column;
                                        gap: 4px;

                                        h4 {
                                            color: var(--white);
                                            font-size: 16px;
                                        }

                                        p {
                                            text-transform: none;
                                            color: var(--so-white);
                                        }
                                    }
                                }

                                .theme--item-action {
                                    display: flex;
                                    align-items: center;
                                    gap: 48px;

                                    .item--action-attr {
                                        display: flex;
                                        align-items: center;
                                        gap: 12px;

                                        .line {
                                            height: 44px;
                                            width: 1px;
                                            background: #5A5A6A;
                                        }

                                        .item {
                                            display: flex;
                                            flex-direction: column;
                                            gap: 4px;
                                            align-items: center;

                                            span {
                                                color: var(--white);
                                                font-size: 18px;
                                            }

                                            p {
                                                color: var(--so-white);
                                            }
                                        }
                                    }

                                    .item--action-user {
                                        display: flex;
                                        align-items: center;
                                        gap: 16px;

                                        .avatar {
                                            width: 44px;
                                            height: 44px;
                                            border-radius: 50%;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            background: linear-gradient(180deg, rgba(201, 2, 45, 0.4) 0%, rgba(99, 1, 22, 0.4) 100%);
                                        }

                                        .user--info {
                                            display: flex;
                                            flex-direction: column;
                                            gap: 8px;

                                            span {
                                                color: var(--white);
                                                font-size: 14px;
                                            }

                                            p {
                                                text-transform: none;
                                                color: var(--so-white);

                                                span {
                                                    color: #C9022D;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .forum--frame-soft {
                    display: flex;
                    flex-direction: column;
                    gap: 32px;
                    width: 23%;
                    .frame--soft-action {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                        background: #12121A;
                        position: relative;
                        border-radius: 3px;
                        width: 100%;
                        padding-bottom: 24px;

                        .vector {
                            height: 200px;
                            width: 220px;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            z-index: 0;
                            object-fit: cover;
                        }

                        h3 {
                            padding: 24px;
                            border-bottom: 0.5px solid #FFFFFF0F;
                            font-size: 18px;
                            color: var(--white);
                        }

                        button {
                            margin: 0 24px;
                            justify-content: center;
                            font-size: 14px;
                            text-transform: uppercase;
                            max-width: 356px;
                        }
                    }

                    .frame--soft-online {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                        background: #12121A;
                        position: relative;
                        border-radius: 3px;
                        width: 100%;
                        padding-bottom: 24px;

                        .vector {
                            height: 200px;
                            width: 220px;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            z-index: 0;
                            object-fit: cover;
                        }

                        .head {
                            padding: 24px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            border-bottom: 0.5px solid #FFFFFF0F;

                            h3 {
                                font-size: 18px;
                                color: var(--white);
                            }

                            .wrap {
                                background: #C9022D26;
                                border: 0.5px solid #C9022D;
                                padding: 16px 20px;
                                border-radius: 3px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: 8px;

                                .circle {
                                    width: 8px;
                                    aspect-ratio: 1/1;
                                    border-radius: 50%;
                                    background: #C9022D;
                                    box-shadow: 0px 0px 10px 0px #C9022D;
                                }

                                span {
                                    color: #C9022D;
                                    line-height: 100%;
                                }
                            }
                        }

                        .online--users {
                            padding: 0 24px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap: 16px;

                            p {
                                color: var(--so-white);
                                text-transform: none;
                            }
                        }
                    }

                    .forum--soft-theme {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                        background: #12121A;
                        position: relative;
                        border-radius: 3px;
                        width: 100%;
                        padding-bottom: 24px;

                        .vector {
                            height: 200px;
                            width: 220px;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            z-index: 0;
                            object-fit: cover;
                        }

                        h3 {
                            padding: 24px;
                            border-bottom: 0.5px solid #FFFFFF0F;
                            font-size: 18px;
                            color: var(--white);
                        }

                        .themes {
                            padding: 0 24px;
                            display: flex;
                            flex-direction: column;
                            gap: 12px;

                            .item:last-child {
                                padding-bottom: 0;
                                border-bottom: none;
                            }

                            .item {
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                gap: 8px;
                                padding-bottom: 13px;
                                border-bottom: 1px solid #FFFFFF0F;

                                h4 {
                                    color: var(--white);
                                    font-size: 14px;
                                    text-transform: none;
                                }

                                .item--soft {
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;

                                    p {
                                        color: var(--so-white);
                                        text-transform: none;
                                    }
                                }
                            }
                        }
                    }

                    .forum--soft-top {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                        background: #12121A;
                        position: relative;
                        border-radius: 3px;
                        width: 100%;
                        padding-bottom: 24px;

                        .vector {
                            height: 200px;
                            width: 220px;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            z-index: 0;
                            object-fit: cover;
                        }

                        h3 {
                            padding: 24px;
                            border-bottom: 0.5px solid #FFFFFF0F;
                            font-size: 18px;
                            color: var(--white);
                        }

                        .top--users {
                            padding: 0 24px;
                            display: flex;
                            flex-direction: column;
                            gap: 12px;

                            .item:nth-child(1) .bold-text {
                                color: #FACC15;
                            }

                            .item:nth-child(2) .bold-text {
                                color: #ADADAD;
                            }

                            .item:nth-child(3) .bold-text {
                                color: #5E3214;
                            }

                            .item:nth-child(4) .bold-text {
                                color: #282830;
                            }

                            .item:nth-child(5) .bold-text {
                                color: #282830;
                            }

                            .item {
                                display: flex;
                                align-items: center;
                                gap: 14px;

                                .bold-text {
                                    width: 15px;
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}