.breadcrumbs {
    width: 100%;
    padding-top: 150px;

    &--body {
        display: flex;
        gap: 5px;
        text-transform: none;

        a:hover {
            color: var(--white);
        }

        a {
            color: var(--so-white);
            font-size: 18px;
            transition: all 0.3s ease;
        }

        p {
            color: var(--so-white);
            font-size: 18px;
        }

        span {
            color: var(--white);
            font-size: 18px;
        }
    }
}

.article {
    position: relative;
    width: 100%;
    padding: 48px 0 150px 0px;
    &--back{
        width: 100%;
        position: absolute;
        top: -245px;
        height: 1481px;
        left: 0;
        z-index: -1;
    }
    &--body {
        display: flex;
        flex-direction: column;
        gap: 32px;

        &-head {
            width: 100%;
            border-radius: 3px;
            background: #12121A;
            display: flex;
            justify-content: space-between;
            padding: 42px;

            .main--info {
                display: flex;
                flex-direction: column;
                gap: 32px;

                .event-link {
                    box-shadow: none;
                    font-size: 10px;
                    max-width: max-content;
                    padding: 12px 22px;
                }

                h1 {
                    font-size: 32px;
                    color: var(--white);
                    font-family: var(--bold);
                }
            }

            .action--info {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-between;

                &-top {
                    text-transform: none;

                    display: flex;
                    gap: 29px;

                    p {
                        color: var(--so-white);
                    }
                }

                .share {
                    color: var(--white);
                    text-transform: none;
                }
            }
        }
        &-frame{
            width: 100%;
            background: #12121A;
            border-radius: 3px;
            .frame--info{
                width: 100%;
                padding: 42px;
                display: flex;
                flex-direction: column;
                gap: 32px;
                img{
                    width: 100%;
                    height: 555px;
                    object-fit: cover;
                    border-radius: 5px;
                }
                &-text{
                    color: var(--white);
                    text-transform: none;
                    font-size: 18px;
                }
            }
            .line{
                width: 100%;
                height: 1px;
                background: #FFFFFF1A;
            }
            .post{
                padding: 42px;
                color: var(--so-white);
                text-transform: none;
            }
        }
    }
}